In [1]:
import pandas as pd

data = pd.read_csv("Music.csv")
data

    Age  Gender      Genre
0    23       1       Rock
1    35       0        Pop
2    32       1    Hip-Hop
3    21       0       Rock
4    26       1       Rock
5    27       1       Rock
6    36       1        Pop
7    56       1        Pop
8    35       0    Hip-Hop
9    19       0  Classical
10   29       1      Metal
11   48       0       Rock
12   55       1  Classical
13   20       0      Metal
14   18       1        Pop
15   28       1      Metal
16   39       0    Hip-Hop
17   59       0       Rock
18   41       0      Metal
19   50       1        Pop

In [4]:
input_data = data.drop(columns = ["Genre"])

In [5]:
input_data

    Age  Gender
0    23       1
1    35       0
2    32       1
3    21       0
4    26       1
5    27       1
6    36       1
7    56       1
8    35       0
9    19       0
10   29       1
11   48       0
12   55       1
13   20       0
14   18       1
15   28       1
16   39       0
17   59       0
18   41       0
19   50       1

In [6]:
output_data = data["Genre"]
output_data

0          Rock
1           Pop
2       Hip-Hop
3          Rock
4          Rock
5          Rock
6           Pop
7           Pop
8       Hip-Hop
9     Classical
10        Metal
11         Rock
12    Classical
13        Metal
14          Pop
15        Metal
16      Hip-Hop
17         Rock
18        Metal
19          Pop
Name: Genre, dtype: object

In [7]:
from sklearn.tree import DecisionTreeClassifier

In [10]:
model = DecisionTreeClassifier()
model.fit(input_data,output_data)

DecisionTreeClassifier()

In [14]:
predictions = model.predict([[44,0],[44,1]])
predictions

C:\Users\BCS\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Metal', 'Pop'], dtype=object)

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

x_train,x_test,y_train,y_test = train_test_split(input_data,output_data, test_size=0.2)
model.fit(x_train,y_train)
predictions = model.predict(x_test)
predictions

array(['Metal', 'Metal', 'Pop', 'Metal'], dtype=object)

In [29]:
score = accuracy_score(y_test,predictions)
score

0.25

In [33]:
import joblib

data = pd.read_csv("Music.csv")
input_data = data.drop(columns = ["Genre"])
output_data = data["Genre"]
model = DecisionTreeClassifier()
model.fit(input_data,output_data)

DecisionTreeClassifier()

In [32]:
model.predict([[42,1],[42,0]])

C:\Users\BCS\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Pop', 'Metal'], dtype=object)

In [34]:
joblib.dump(model, "Music Model.joblib")

['Music Model.joblib']

In [38]:
joblib.load("Music Model.joblib")
model.predict([[43,1],[33,0]])

C:\Users\BCS\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Pop', 'Hip-Hop'], dtype=object)

In [41]:
from sklearn import tree
tree.export_graphviz(model,
                    feature_names=["Age","Gender"],
                    class_names= sorted(output_data.unique()),
                    label = "all",
                    rounded = True,
                    filled = True,
                    out_file = "MusicmodelDrawing.dot")