# Multiplication Table

In [3]:
a = int(input("Enter a table no: \n"))
b = 1
print("multiplication table of " ,a, "is\n")
while(b<=30):
    print(a, "x" ,b, "=" ,a*b)
    b=b+1

Enter a table no:
75
multiplication table of  75 is

75 x 1 = 75
75 x 2 = 150
75 x 3 = 225
75 x 4 = 300
75 x 5 = 375
75 x 6 = 450
75 x 7 = 525
75 x 8 = 600
75 x 9 = 675
75 x 10 = 750
75 x 11 = 825
75 x 12 = 900
75 x 13 = 975
75 x 14 = 1050
75 x 15 = 1125
75 x 16 = 1200
75 x 17 = 1275
75 x 18 = 1350
75 x 19 = 1425
75 x 20 = 1500
75 x 21 = 1575
75 x 22 = 1650
75 x 23 = 1725
75 x 24 = 1800
75 x 25 = 1875
75 x 26 = 1950
75 x 27 = 2025
75 x 28 = 2100
75 x 29 = 2175
75 x 30 = 2250